.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #0c0fdbc0;
  outline: none;
}

.additionalContainer {
  margin: 15px 0 10px 0;
  min-height: 100px;
  box-shadow: 0 5px 5px -5px #333;
}

.additionalMenu {
  list-style: square;
  padding-left: 30px;
}
